#carre {
    width: 35px;
    height: 35px;
    background-color: greenyellow;
    position: absolute;
}





#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Style pour les boutons */
#button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
}

/* Style pour chaque bouton */
#top,
#bottom,
#left,
#right {
    position: absolute;



    border-radius: 5%;
}

#top {
    top: 0.50%;
    left: 5%;
    transform: translateX(-5%);
}

#bottom {
    bottom: 90%;
    left: 6%;
    transform: translateX(-50%);
}

#left {
    top: 5%;
    left: 0;
    transform: translateY(-50%);
}

#right {
    top: 3%;
    right: 88%;
    transform: translateY(50%);
}





#mur {
    position: absolute;
    height: 1vh;
    width: 100vw;
    background-color: #000000;
    left: 1vw;
    top: 13vh;
}

#mur1 {
    position: absolute;
    height: 1vh;
    width: 100.5vw;
    background-color: #000000;
    left: 0vw;
    top: 85vh;
}

#mur2 {
    position: absolute;
    height: 85vh;
    width: 0.5vw;
    background-color: #000000;
    left: vw;
    top: vh;
}

#mur3 {
    position: absolute;
    height: 85vh;
    width: 0.5vw;
    background-color: #000000;
    left: 100vw;
    top: vh;
}

#obstacle {
    position: absolute;
    height: 1vh;
    width: 4vw;
    background-color: #ff000080;
    left: 1.5vw;
    top: 19vh;
}

#obstacle1 {
    position: absolute;
    height: 80vh;
    width: 0.5vw;
    background-color: #ff000080;
    left: 3.5vw;
    top: 1vh;
}

#obstacle2 {
    position: absolute;
    height: 31vh;
    width: 0.5vw;
    background-color: #ff000080;
    left: 7vw;
    top: 0.5vh;
}

#obstacle3 {
    position: absolute;
    height: 36vh;
    width: 0.5vw;
    background-color: #ff000080;
    left: 7vw;
    top: 37vh;
}

#obstacle4 {
    position: absolute;
    height: 1vh;
    width: 50vw;
    background-color: #ff000080;
    left: 7.5vw;
    top: 0.5vh;
}

#obstacle5 {
    position: absolute;
    height: 1vh;
    width: 10vw;
    background-color: #ff000080;
    left: 7.5vw;
    top: 30.5vh;
}

#obstacle6 {
    position: absolute;
    height: 1vh;
    width: 7vw;
    background-color: #ff000080;
    left: 7.5vw;
    top: 37vh;
}

#obstacle7 {
    position: absolute;
    height: 1vh;
    width: 1vw;
    background-color: #ff000080;
    left:7.5vw;
    top: 72vh;
}

#obstacle8 {
    position: absolute;
    height: 30vh;
    width: 0.5vw;
    background-color: #ff000080;
    left: 14vw;
    top: 38vh;
}

#obstacle9 {
    position: absolute;
    height: 30vh;
    width: 0.5vw;
    background-color: #ff000080;
    left: 17.5vw;
    top: 30.5vh;
}

#obstacle10 {
    position: absolute;
    height: 76vh;
    width: 0.5vw;
    background-color: #ff000080;
    left: 50vw;
    top: 15vh;
}

#obstacle11 {
    position: absolute;
    height: 46vh;
    width: 0.5vw;
    background-color: #ff000080;
    left: 21vw;
    top: 14.5vh;
}

#obstacle12 {
    position: absolute;
    height: 76vh;
    width: 0.5vw;
    background-color: #ff000080;
    left: 60.5vw;
    top: 0.5vh;
}

#obstacle13 {
    position: absolute;
    height: 76vh;
    width: 0.5vw;
    background-color: #ff000080;
    left: 57vw;
    top: 1.5vh;
}
#obstacle14 {
    position: absolute;
    height: 1vh;
    width: 50vw;
    background-color: #ff000080;
    left: 7.5vw;
    top: 0.5vh;
}#obstacle15 {
    position: absolute;
    height: 1vh;
    width: 50vw;
    background-color: #ff000080;
    left: 7.5vw;
    top: 0.5vh;
}#obstacle16 {
    position: absolute;
    height: 1vh;
    width: 50vw;
    background-color: #ff000080;
    left: 7.5vw;
    top: 0.5vh;
}#obstacle17 {
    position: absolute;
    height: 1vh;
    width: 50vw;
    background-color: #ff000080;
    left: 7.5vw;
    top: 0.5vh;
}#obstacle18 {
    position: absolute;
    height: 1vh;
    width: 50vw;
    background-color: #ff000080;
    left: 7.5vw;
    top: 0.5vh;
}#obstacle19 {
    position: absolute;
    height: 1vh;
    width: 50vw;
    background-color: #ff000080;
    left: 7.5vw;
    top: 0.5vh;
}#obstacle20 {
    position: absolute;
    height: 1vh;
    width: 50vw;
    background-color: #ff000080;
    left: 7.5vw;
    top: 0.5vh;
}#obstacle21 {
    position: absolute;
    height: 1vh;
    width: 50vw;
    background-color: #ff000080;
    left: 7.5vw;
    top: 0.5vh;
}#obstacle22{
    position: absolute;
    height: 1vh;
    width: 50vw;
    background-color: #ff000080;
    left: 7.5vw;
    top: 0.5vh;
}#obstacle23 {
    position: absolute;
    height: 1vh;
    width: 50vw;
    background-color: #ff000080;
    left: 7.5vw;
    top: 0.5vh;
}#obstacle24 {
    position: absolute;
    height: 1vh;
    width: 50vw;
    background-color: #ff000080;
    left: 7.5vw;
    top: 0.5vh;
}#obstacle25 {
    position: absolute;
    height: 1vh;
    width: 50vw;
    background-color: #ff000080;
    left: 7.5vw;
    top: 0.5vh;
}#obstacle26 {
    position: absolute;
    height: 1vh;
    width: 50vw;
    background-color: #ff000080;
    left: 7.5vw;
    top: 0.5vh;
}#obstacle27 {
    position: absolute;
    height: 1vh;
    width: 50vw;
    background-color: #ff000080;
    left: 7.5vw;
    top: 0.5vh;
}#obstacle28 {
    position: absolute;
    height: 1vh;
    width: 50vw;
    background-color: #ff000080;
    left: 7.5vw;
    top: 0.5vh;
}#obstacle29 {
    position: absolute;
    height: 1vh;
    width: 50vw;
    background-color: #ff000080;
    left: 7.5vw;
    top: 0.5vh;
}#obstacle31 {
    position: absolute;
    height: 1vh;
    width: 50vw;
    background-color: #ff000080;
    left: 7.5vw;
    top: 0.5vh;
}